@import url('https://fonts.googleapis.com/css?family=Quicksand|Rokkitt|Ubuntu|Montserrat');

body {
    top: 0;
    color: #95a5a6;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#header {
    background: url(https://picsum.photos/5184/3456?image=958) center center fixed;
    background-size: cover;
    height: 100vh;
    color: rgba(255, 255, 255, 0.869);
    position: relative;
    top: 0;
}

#header:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(219, 219, 219, 0.336);
}

.start {
    margin: 0 auto;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f2f2f2;
    z-index: 100;
}

.wrapper {
    background: url(images/qbkls.png);
}

.navicon {
    display: none;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 1.5em;
    background-color: white;
    float: right;
}

.start .nav {
    float: right;
    z-index: 100;
}

.start .nav ul {
    margin: 0;
    z-index: 100;
}

.start .nav li {
    float: left;
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1em;
    color: rgba(112, 112, 112, 0.594);
}

.nav li a:last-child {
    margin-right: 10px;
}

.nav li a:hover {
    color: #19bb9b;
}

.starttext {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}

.starttext h2 {
    padding: 10px;
    font-size: 3em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.869);
    color: rgba(255, 255, 255, 0.869);
    letter-spacing: -1px;
}

.starttext p {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0px;
    font-size: 1.7em;
}

.starttext .button {
    margin-top: 20vh;
}

.button a {
    color: white;
    text-decoration: none;
}

.button {
    background-color: rgba(26, 188, 156, 0.8);
    border-radius: 10px;
    padding: 15px 20px;
    margin: 0 auto;
    font-size: 1.5em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.869);
}

.button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 188, 156);
}

h2 {
    color: #1abc9c;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
}

.about {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h3 {
    text-transform: uppercase;
    color: #a8a8a8;
    border-bottom: 1px solid rgba(164, 162, 162, 0.74);
    padding: 10px 0 20px 0;
    width: 75vw;
    margin: 0 auto;
}

.about article p {
    width: 70vw;
    margin: 0 auto;
    padding: 10px;
    line-height: 1.4em;
    color: #5a5a5a;
}

.myskills {
    padding-top: 5vh;
}

.myskills ul {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 5vh;
    border-bottom: 1px solid rgba(164, 162, 162, 0.74);
    padding: 0;
}

.myskills ul li {
    list-style: none;
    margin-bottom: 15px;
    flex-basis: 25%;
}

.logo {
    width: 100px;
}

.resume h2 {
    margin-bottom: 5px;
}

.more {
    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.rows {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
}

.resume ul {
    list-style: none;
    padding: 0;
}

.leftside {
    flex-basis: 42%;
}

.rightside {
    flex-basis: 42%;
    align-items: stretch;
}

.resume h3,
.additional h3 {
    text-transform: uppercase;
    background-color: rgba(209, 209, 209, 0.594);
    padding: 20px;
    text-align: left;
    color: rgba(53, 53, 53, 0.594);
    font-weight: 400;
    margin-top: 5vh;
}

.resume h4 {
    font-weight: 300;
    color: #5a5a5a;
    font-size: 0.8em;
    padding-top: 20px;
    border-top: 1px solid rgba(117, 117, 117, 0.594);
}

.resume h5,
.dodatkowe h4 {
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;
    letter-spacing: 2px;
    font-size: 1.2em;
}

.resume p,
.dodatkowe p {
    font-weight: 300;
    color: #5a5a5a;
    font-size: 1em;
}

.resume i {
    padding-right: 10px;
    font-size: 1.5em
}

.lang ul i {
    font-size: 3em;
}

.lang p {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    padding: 10px;
    font-size: 1em;
}

.additional {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.additional h4 {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    font-size: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.594);
    width: 80%;
    margin-left: 10%;
}

.portfolio article {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}

.hvrbox {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-basis: 45%;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
    z-index: 50;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.hvrbox img {
    max-width: 45vw;
    border: 2px solid rgba(117, 117, 117, 0.594);
    border-radius: 10px;
}

.hvrbox .hvrbox-layer_bottom {
    display: block;
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}

.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 1.2em;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179);
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
    color: #19bb9b;
}

.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

.hvrbox .hvrbox-layer_slideright {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.hvrbox:hover .hvrbox-layer_slideright,
.hvrbox.active .hvrbox-layer_slideright {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .button {
    margin-top: 5vh;
}

.contact {
    height: 100vh;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.contact i {
    font-size: 5em;
    padding: 5vw;
    color: #666666;
}

.footer {
    background-color: #383838;
    padding: 5vh;
}

.fixPoint {
    background-attachment: fixed;
}


/*RESPONISVNESS*/

@media (hover: none) {
    #header {
        background-attachment: initial;
    }
}

@media screen and (max-width: 720px) {
    .starttext .button {
        margin-top: 5vh;
    }

    .contact i {
        font-size: 4em;
        padding: 4.5vw;
    }

    .start .navicon {
        display: block;
        color: #2d2d2d;
    }

    .start .nav {
        display: none;
        width: 100%;
        background-color: white;
    }

    .nav a {
        color: rgb(112, 112, 112);
    }

    .start .nav ul li {
        width: 100%;
    }

    .about {
        height: auto;
    }

    .about article p {
        width: 90vw;
    }

    .logo {
        width: 60px;
        padding: 10px;
    }

    .rows {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .leftside,
    .rightside {
        width: 80vw;
        align-self: center;
    }

    .resume h3,
    .additional h3 {
        text-align: center;
    }

    .hvrbox img {
        max-width: 75vw;
    }


    .hvrbox .hvrbox-text {
        width: 100%;
        font-size: 0.7em;
    }

    .contact {
        height: 70vh;
    }

    .contact i {
        font-size: 3em;
        padding: 4vw;
    }

}

@media screen and (max-width: 400px) {
    .starttext h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 350px) {
    .start .navicon {
        margin-left: 75vw;
    }

}
